@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto;
}

h2 {
    font-size: 40px;
    margin-left: 10px;
    
}

.info-first {
    display: flex;
    padding: 10px 10px 10px 10px;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 20px;
    margin-left: 10px
}

li {
    font-size: 20px;
}

.list {
    padding: 10px 10px 10px 10px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: flex;
    align-items: center;
    padding-right: 50px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: flex-start;
}

.start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    border-radius: 5px;
}

.photo {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 50px;
}

.phrase {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 10px 10px 10px;
    
}

.image:hover img {
    transform: scale(1.2);
}

.image {
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}